<h1>Create a new song</h1>

<form action="/songs" method="POST">
  <label>Song Name</label>

  <input type="text" name="Name"><br>

  <h3>Genres</h3>
  <% @genres.each do |genre| %>
    <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>">
  <% end %>
  <br>
  <label>Artist Name</label>
  <br>
  <input type="text" name="Artist Name"></input>
  <br><br>

  <input type="submit" value="Create Song">
</form>
